
body{
    background-color: rgb(110, 92, 92);
}
.calender{
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 0.2rem;
}
.calender > div{
    background-color: white;
    border-radius: 0.5rem;
    height: 5rem;
    padding: 0.25rem;
}
.calender > div:not(.cur-month-day){
    background-color: rgb(121, 119, 119,0.7);
    color: white;
}
main{
}